@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.specialty-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialty-background {
    width: 80vw;
    height: auto;
    padding: 3rem;
}

.specialty-title {
    font-family: 'Libre Baskerville';
    position: relative;
    font-size: 4vmax;
    color: rgb(48, 48, 48);
}

.specialty-type {
    font-family: 'Libre Baskerville';
    position: relative;
    color: rgb(48, 48, 48);
}

.specialty-desc {
    font-family: 'Libre Baskerville';
    font-size: 1vw;
    padding-bottom: 2rem;
    min-height: 3rem;
}